:root {
  --mc-protocol-buttton-padding: 5px 10px;
  --mc-protocol-buttton-margin-right: -3px;
  --mc-protocol-buttton-border-top-right-radius: 25px;
  --mc-protocol-buttton-border-bottom-left-radius: 25px;
  --mc-protocol-buttton-font-color: #fff;
  --mc-catalog-heading-border-top: 3px solid;
  --mc-catalog-heading-border-top-radius: 25px;
  --mc-catalog-heading-margin-bottom: 0px;
  --mc-catalog-clmn-border-left: 10px solid;
  --mc-catalog-clmn-border-right: 10px solid;
  --mc-catalog-clmn-border-top: 0px solid;
  --mc-catalog-clmn-border-bottom: 0px solid;
  --apoptosis-color: #fee000;
  --stamin-color: #b5b7bb;
  --optimize-color: #0097ec;
  --muscle-color: #01c7bb;
  --firming-color: #fe0279;
  --prp-color: #202f52;
}
.apoptosis_protocol {
  border-top: var(--mc-catalog-heading-border-top) var(--apoptosis-color);
  border-top-right-radius: var(--mc-catalog-heading-border-top-radius);
}
.stamin_protocol {
  border-top: var(--mc-catalog-heading-border-top) var(--stamin-color);
  border-top-right-radius: var(--mc-catalog-heading-border-top-radius);
}
.optimize_protocol {
  border-top: var(--mc-catalog-heading-border-top) var(--optimize-color);
  border-top-right-radius: var(--mc-catalog-heading-border-top-radius);
}
.firming_protocol {
  border-top: var(--mc-catalog-heading-border-top) var(--firming-color);
  border-top-right-radius: var(--mc-catalog-heading-border-top-radius);
}
.muscle_protocol {
  border-top: var(--mc-catalog-heading-border-top) var(--muscle-color);
  border-top-right-radius: var(--mc-catalog-heading-border-top-radius);
}
.prp_protocol {
  border-top: var(--mc-catalog-heading-border-top) var(--prp-color);
  border-top-right-radius: var(--mc-catalog-heading-border-top-radius);
}

.apoptosis_protocol a::before,
.stamin_protocol a::before,
.optimize_protocol a::before,
.firming_protocol a::before,
.muscle_protocol a::before,
.prp_protocol a::before {
  content: "\f497";
  font-family: "Dashicons";
  padding-right: 10px;
}
.apoptosis_protocol a {
  background: var(--apoptosis-color);
  padding: var(--mc-protocol-buttton-padding);
  margin-right: var(--mc-protocol-buttton-margin-right);
  border-top-right-radius: var(--mc-protocol-buttton-border-top-right-radius);
  border-bottom-left-radius: var(
    --mc-protocol-buttton-border-bottom-left-radius
  );
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.stamin_protocol a {
  background: var(--stamin-color);
  padding: var(--mc-protocol-buttton-padding);
  margin-right: var(--mc-protocol-buttton-margin-right);
  color: var(--mc-protocol-buttton-font-color);
  border-top-right-radius: var(--mc-protocol-buttton-border-top-right-radius);
  border-bottom-left-radius: var(
    --mc-protocol-buttton-border-bottom-left-radius
  );
  text-decoration: none;
  display: inline-block;
}
.optimize_protocol a {
  background: var(--optimize-color);
  padding: var(--mc-protocol-buttton-padding);
  margin-right: var(--mc-protocol-buttton-margin-right);
  color: var(--mc-protocol-buttton-font-color);
  border-top-right-radius: var(--mc-protocol-buttton-border-top-right-radius);
  border-bottom-left-radius: var(
    --mc-protocol-buttton-border-bottom-left-radius
  );
  text-decoration: none;
  display: inline-block;
}
.firming_protocol a {
  background: var(--firming-color);
  padding: var(--mc-protocol-buttton-padding);
  margin-right: var(--mc-protocol-buttton-margin-right);
  color: var(--mc-protocol-buttton-font-color);
  border-top-right-radius: var(--mc-protocol-buttton-border-top-right-radius);
  border-bottom-left-radius: var(
    --mc-protocol-buttton-border-bottom-left-radius
  );
  text-decoration: none;
  display: inline-block;
}
.muscle_protocol a {
  background: var(--muscle-color);
  padding: var(--mc-protocol-buttton-padding);
  margin-right: var(--mc-protocol-buttton-margin-right);
  color: var(--mc-protocol-buttton-font-color);
  border-top-right-radius: var(--mc-protocol-buttton-border-top-right-radius);
  border-bottom-left-radius: var(
    --mc-protocol-buttton-border-bottom-left-radius
  );
  text-decoration: none;
  display: inline-block;
}
.prp_protocol a {
  background: var(--prp-color);
  color: var(--mc-protocol-buttton-font-color);
  padding: var(--mc-protocol-buttton-padding);
  margin-right: var(--mc-protocol-buttton-margin-right);
  border-top-right-radius: var(--mc-protocol-buttton-border-top-right-radius);
  border-bottom-left-radius: var(
    --mc-protocol-buttton-border-bottom-left-radius
  );
  text-decoration: none;
  display: inline-block;
}
#APOPTOSIS,
#STAMIN,
#OPTIMIZE,
#FIRMING,
#TONING,
#PRP {
  margin-bottom: var(--mc-catalog-heading-margin-bottom);
}
.apoptosis_clmn {
  border-left: var(--mc-catalog-clmn-border-left) var(--apoptosis-color);
  border-right: var(--mc-catalog-clmn-border-right) var(--apoptosis-color);
  border-top: var(--mc-catalog-clmn-border-top) var(--apoptosis-color);
  border-bottom: var(--mc-catalog-clmn-border-bottom) var(--apoptosis-color);
}
.stamin_clmn {
  border-left: var(--mc-catalog-clmn-border-left) var(--stamin-color);
  border-right: var(--mc-catalog-clmn-border-right) var(--stamin-color);
  border-top: var(--mc-catalog-clmn-border-top) var(--stamin-color);
  border-bottom: var(--mc-catalog-clmn-border-bottom) var(--stamin-color);
}
.optimize_clmn {
  border-left: var(--mc-catalog-clmn-border-left) var(--optimize-color);
  border-right: var(--mc-catalog-clmn-border-right) var(--optimize-color);
  border-top: var(--mc-catalog-clmn-border-top) var(--optimize-color);
  border-bottom: var(--mc-catalog-clmn-border-bottom) var(--optimize-color);
}
.firming_clmn {
  border-left: var(--mc-catalog-clmn-border-left) var(--firming-color);
  border-right: var(--mc-catalog-clmn-border-right) var(--firming-color);
  border-top: var(--mc-catalog-clmn-border-top) var(--firming-color);
  border-bottom: var(--mc-catalog-clmn-border-bottom) var(--firming-color);
}
.toning_clmn {
  border-left: var(--mc-catalog-clmn-border-left) var(--muscle-color);
  border-right: var(--mc-catalog-clmn-border-right) var(--muscle-color);
  border-top: var(--mc-catalog-clmn-border-top) var(--muscle-color);
  border-bottom: var(--mc-catalog-clmn-border-bottom) var(--muscle-color);
}
.prp_clmn {
  border-left: var(--mc-catalog-clmn-border-left) var(--prp-color);
  border-right: var(--mc-catalog-clmn-border-right) var(--prp-color);
  border-top: var(--mc-catalog-clmn-border-top) var(--prp-color);
  border-bottom: var(--mc-catalog-clmn-border-bottom) var(--prp-color);
}

